body {
  background-color: aquamarine;
  font: normal 15pt Arial;
}

header {
  color: aliceblue;
  text-align: center;
}

section {
  background: beige;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);
}

footer {
  color: aliceblue;
  text-align: center;
  font-style: italic;
}
div {
  text-align: center;
  padding: 8px;
}
